.modal-container{
    overflow-y: auto;
    }
      .modal-content{
          font-weight: 500;
          font-size: 1.2rem;
          text-align: center;
      }
      .rules-list{
          text-align: start;
      }
      .heading-1{
          color:var(--green-3)
      }
      .modal-btn{
          display: flex;
         justify-content: center;
      }